@mixin quai {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .texte {
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 10px 10px grey;
    }

    & > div {
        width: 40%;
        margin: 30px;
        border-radius: 25px;

        @media screen and (max-width: 900px) {
            margin: 15px;
        }

        & > p {
            text-align: center;
        }

        & > img {
            width: 100%;
            border-radius: 25px;
            box-shadow: 10px 5px 5px grey;
        }
    }
}